In [48]:
import pandas as pd
import numpy as np
import re

In [49]:
sheet_name = 'K16'
df = pd.read_excel('Labor Force Singapore.xlsx', sheet_name=sheet_name)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Contents     12 non-null     object
 1   Unnamed: 1   10 non-null     object
 2   Unnamed: 2   11 non-null     float64
 3   Unnamed: 3   11 non-null     float64
 4   Unnamed: 4   11 non-null     float64
 5   Unnamed: 5   11 non-null     float64
 6   Unnamed: 6   11 non-null     float64
 7   Unnamed: 7   11 non-null     float64
 8   Unnamed: 8   11 non-null     float64
 9   Unnamed: 9   11 non-null     float64
 10  Unnamed: 10  11 non-null     float64
 11  Unnamed: 11  11 non-null     float64
 12  Unnamed: 12  11 non-null     float64
dtypes: float64(11), object(2)
memory usage: 2.4+ KB

In [56]:
df.fillna(0).head()

,Contents,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,TABLE K16,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,UNEMPLOYED RESIDENT PMETs AND NON-PMETs AGED F...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Thousands,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
if sheet_name == 'K14' or sheet_name == 'K15' or sheet_name == 'K16' or sheet_name == 'K17':
    num_unwanted_rows_below_table = 6
if sheet_name == 'K6' or sheet_name == 'K2' or sheet_name == 'K3':
    num_unwanted_rows_below_table = 2

if sheet_name == 'K6': 
    table_name = 'K6_UNEMPLOYED_RESIDENTS_BY_MARITAL_STATUS_AND_SEX'
    category_name = 'Gender'
    sub_category_name = 'Marital_Status'
    insert_cat1_name = 'Group'
    insert_cat1_value = 'Residents Aged Fifteen Years And Over' #or 'Residents'
    insert_cat2_name = 'Status'
    insert_cat2_value = 'Unemployed' #or'Long-term'
elif sheet_name == 'K15': 
    table_name = "K15_UNEMPLOYED_RESIDENTS_BY_PREVIOUS_OCCUPATION_AND_SEX"
    category_name = 'Gender'
    sub_category_name = 'Year'
    insert_cat1_name = 'Group'
    insert_cat1_value = 'Residents Aged Fifteen Years And Over Who Have Worked Before' #or 'Residents'
    insert_cat2_name = 'Status'
    insert_cat2_value = 'Unemployed' #or'Long-term'
elif sheet_name == 'K17': 
    table_name = 'K17_LONG-TERM_UNEMPLOYED_RESIDENT_BY_PMET_STATUS_AND_AGE'
    category_name = 'Pmet_Status'
    sub_category_name = 'Age'
    insert_cat1_name = 'Group'
    insert_cat1_value = 'Residents Aged Fifteen Years And Over Who Have Worked Before'
    insert_cat2_name = 'Status'
    insert_cat2_value = 'Long-term'
elif sheet_name == 'K2': 
    table_name = "K2_UNEMPLOYED_RESIDENTS_BY_AGE_AND_SEX"
    category_name = 'Gender'
    sub_category_name = 'Age'
    insert_cat1_name = 'Group'
    insert_cat1_value = 'Residents Aged Fifteen Years And Over' #or 'Residents'
    insert_cat2_name = 'Status'
    insert_cat2_value = 'Unemployed' #or'Long-term'
elif sheet_name == 'K3': 
    table_name = "K3_UNEMPLOYED_RESIDENTS_BY_QUALIFICATION_ATTAINED_AND_SEX"
    category_name = 'Gender'
    sub_category_name = 'Qualification'
    insert_cat1_name = 'Group'
    insert_cat1_value = 'Residents Aged Fifteen Years And Over' #or 'Residents'
    insert_cat2_name = 'Status'
    insert_cat2_value = 'Unemployed' #or'Long-term'
elif sheet_name == 'K16': 
    table_name = "K16_UNEMPLOYED_RESIDENT_PMETs_AND_NON-PMETs__BY_AGE"
    category_name = 'Pmet_Status'
    sub_category_name = 'Age'
    insert_cat1_name = 'Group'
    insert_cat1_value = 'Residents Aged Fifteen Years And Over Who Have Worked Before' #or 'Residents'
    insert_cat2_name = 'Status'
    insert_cat2_value = 'Unemployed' #or'Long-term'
elif sheet_name == 'K14': 
    table_name = "K14_RESIDENT_UNEMPLOYMENT_RATE_BY_OCCUPATION"
    category_name = 'Year'
    sub_category_name = ''
    insert_cat1_name = 'Group'
    insert_cat1_value = 'Resident' #or 'Residents'
    insert_cat2_name = 'Status'
    insert_cat2_value = 'Unemployed' #or'Long-term'
else: 
    raise Exception(f"properties of sheet_name {sheet_name} is not defined")

is_insert_cat = True
num_unwanted_rows_above_table = 5

# Step 1: Slice table area
df_filtered = df.iloc[num_unwanted_rows_above_table+1 : df.shape[0] - num_unwanted_rows_below_table].copy()
#print(df_filtered['Contents'].to_list())

# Step 2: Forward-fill merged categories for detection
df_filtered['Contents_ffill'] = df_filtered['Contents'].ffill()
#print(df_filtered['Contents_ffill'].to_list())

# Step 3: Remove any block where top category == "Total"
df_filtered = df_filtered[~df_filtered['Contents_ffill'].str.lower().str.contains('total', na=False)] if isinstance(df_filtered['Contents_ffill'].to_list(),str) else df_filtered
#print(df_filtered['Contents_ffill'].to_list())

# Step 4: Extract top category list
list_top_categories = df_filtered['Contents_ffill'].dropna().unique()

# Step 5: Column headings with year conversion
pattern = r'^20\d{2}(\.0)?$'
list_column_headings = [
    int(col) if re.match(pattern, str(col)) else str(col).replace("\n", " ")
    for col in df.iloc[num_unwanted_rows_above_table,1:].fillna(sub_category_name)
]

# Step 6: Build new df
df_new = df_filtered.drop(['Contents', 'Contents_ffill'], axis = 1).fillna(0)
df_new.columns = list_column_headings

# Step 7: Assign top categories 
rows_per_cat = len(df_new) // len(list_top_categories)
df_new[category_name] = np.repeat(list_top_categories, rows_per_cat)

# Step 8: Convert Year if present
if "Year" in df_new.columns:
    df_new['Year'] = df_new['Year'].astype(int)

# Step 9: Add extra fixed-value categories
extra_cats = {insert_cat1_name: insert_cat1_value, insert_cat2_name: insert_cat2_value}
for col, val in extra_cats.items():
    if col and val:
        df_new[col] = val

df_new.reset_index(drop=True, inplace=True)

print(df_new)
df_new.info()

         Age  2014  2015  2016  2017  2018  2019  2020  2021  2022  2023  \
0      Total  32.6  32.2  38.8  38.0  37.9  39.1  48.2  50.7  39.5  36.5
1    15 - 29   8.3   7.3   8.2   7.4   8.6   8.8   8.9   9.0   8.6   6.0
2    30 - 39   8.6   7.1  10.3   9.0   8.7   8.1  11.2  12.3   8.9   8.0
3    40 - 49   8.7   8.9   9.9  10.8   9.9  11.2  12.6  16.5   8.8  11.2
4  50 & Over   6.9   8.9  10.4  10.7  10.8  11.0  15.5  12.9  13.3  11.2
5      Total  42.1  43.5  42.9  44.9  39.4  45.9  60.5  46.1  39.3  32.6
6    15 - 29  15.2  16.0  13.7  15.3  12.9  15.5  19.5  12.0   7.9   8.3
7    30 - 39   6.4   5.4   5.9   5.4   4.9   5.9   7.9   7.2   8.1   5.2
8    40 - 49   6.8   6.2   6.9   6.4   6.2   6.5   8.6   8.8   7.5   5.7
9  50 & Over  13.8  15.8  16.4  17.8  15.4  18.0  24.5  18.1  15.7  13.4

   2024 Pmet_Status                                              Group  \
0  41.2       PMETs  Residents Aged Fifteen Years And Over Who Have...
1   7.9       PMETs  Residents Aged Fifteen Years And Over Who Have...
2   9.3       PMETs  Residents Aged Fifteen Years And Over Who Have...
3   9.9       PMETs  Residents Aged Fifteen Years And Over Who Have...
4  14.1       PMETs  Residents Aged Fifteen Years And Over Who Have...
5  30.3   Non-PMETs  Residents Aged Fifteen Years And Over Who Have...
6   7.5   Non-PMETs  Residents Aged Fifteen Years And Over Who Have...
7   5.3   Non-PMETs  Residents Aged Fifteen Years And Over Who Have...
8   4.2   Non-PMETs  Residents Aged Fifteen Years And Over Who Have...
9  13.3   Non-PMETs  Residents Aged Fifteen Years And Over Who Have...

       Status
0  Unemployed
1  Unemployed
2  Unemployed
3  Unemployed
4  Unemployed
5  Unemployed
6  Unemployed
7  Unemployed
8  Unemployed
9  Unemployed
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          10 non-null     object
 1   2014         10 non-null     float64
 2   2015         10 non-null     float64
 3   2016         10 non-null     float64
 4   2017         10 non-null     float64
 5   2018         10 non-null     float64
 6   2019         10 non-null     float64
 7   2020         10 non-null     float64
 8   2021         10 non-null     float64
 9   2022         10 non-null     float64
 10  2023         10 non-null     float64
 11  2024         10 non-null     float64
 12  Pmet_Status  10 non-null     object
 13  Group        10 non-null     object
 14  Status       10 non-null     object
dtypes: float64(11), object(4)
memory usage: 1.3+ KB

C:\Users\user\AppData\Local\Temp\ipykernel_15908\4128180822.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Contents_ffill'] = df_filtered['Contents'].ffill()

In [130]:
is_rotate = True
if is_rotate:  
    final_df = pd.DataFrame()
    # setting up parameters
    is_total_in_top_category = df['Contents'].str.lower().str.contains('total', na=False).any() # in not used in series; .str.lower() can only applied in series 
    print(is_total_in_top_category)
    last_row = df['Contents'].shape[0]-num_unwanted_rows_below_table
    #print("last_row: ", last_row)
    top_category_names = df[num_unwanted_rows_above_table+1:last_row]['Contents'].dropna()
    #print(top_category_names)
    original_list_column_headings = df.iloc[5,1:].fillna(sub_category_name).str.replace("\n"," ")
    original_list_column_headings = original_list_column_headings[original_list_column_headings != "Total"]
    #print(original_list_column_headings)
    #print("length:" , len(original_list_column_headings))

    if sub_category_name != '':
        #print(is_total_in_top_category)
        sub_category_set = top_category_names.count()
        #print(total_sub_category_set )
        if (df[num_unwanted_rows_above_table+1:last_row].iloc[:,1].dropna().count()) % sub_category_set ==0: 
            set_height = int( (df[num_unwanted_rows_above_table+1:last_row].iloc[:,1].dropna().count()) / sub_category_set )
            #print("set_height: ", set_height)
            for i in range(sub_category_set-1):
                is_same_set = True
                if (df[num_unwanted_rows_above_table+1:last_row].iloc[:,1].dropna()[set_height*i:set_height*(i+1)].to_list() != df[num_unwanted_rows_above_table+1:last_row].iloc[:,1].dropna()[set_height*(i+1):set_height*(i+2)].to_list()):
                    is_same_set = False
                    print("not the same set")
                    break

        if is_same_set:
            sub_category_names = df[num_unwanted_rows_above_table:last_row].iloc[:,1].dropna()[0:set_height]
            #print(sub_category_names)
            #print(df[num_unwanted_rows_above_table+1:num_unwanted_rows_above_table+set_height+1].drop('Contents', axis=1))

            tables = []  
            for j in range(sub_category_set): 
                #print(df.iloc[num_unwanted_rows_above_table])
                if 'Total' in df.iloc[num_unwanted_rows_above_table].to_list(): 
                    # find column of 'Total'
                    col_pos = df.iloc[num_unwanted_rows_above_table].to_list().index('Total') 
                    df_new = df[num_unwanted_rows_above_table+set_height*(j)+1:num_unwanted_rows_above_table+set_height*(1+j)+1].drop(['Contents', df.columns[col_pos]], axis=1).T
                else: 
                    df_new = df[num_unwanted_rows_above_table+set_height*(j)+1:num_unwanted_rows_above_table+set_height*(1+j)+1].drop('Contents', axis=1).T
                #print(original_list_column_headings.tolist())
                #print(len(df_new.index))
                #print(df_new)
                df_new.index = original_list_column_headings.tolist()
                #print( df_new)
                df_new.loc['Year'] = df_new.loc['Year'].astype(int)
                df_new.columns = df_new.loc['Year']
                df_new = df_new.drop('Year')
                #print(df_new.columns)
                #print(df_new.index)
                #print(df_new)
                tables.append(df_new)

            
            final_df = pd.concat(tables, axis=0) 
            #print(final_df)
            final_df[category_name] = None 
            for k in range(sub_category_set):
                final_df.iloc[k*(len(original_list_column_headings)-1) : (k+1)*(len(original_list_column_headings)-1), final_df.columns.get_loc(category_name)] = top_category_names.iloc[k]
            #print(final_df)
    else:
        #print(top_category_names)
        final_df = df[num_unwanted_rows_above_table+1:last_row].T
        #print(final_df)
        final_df.loc['Contents'] = final_df.loc['Contents'].astype(int)
        final_df.columns = final_df.loc['Contents']
        final_df = final_df.drop('Contents')
        final_df.index = original_list_column_headings.to_list()
        #print(final_df)
    

    # add other categories
    if (is_insert_cat): 
        if (insert_cat1_name != "" and insert_cat1_value != ""):
            final_df[insert_cat1_name] = insert_cat1_value
        if (insert_cat2_name != "" and insert_cat2_value != ""):
            final_df[insert_cat2_name] = insert_cat2_value

    # drop (total)
    if sub_category_name != '':
        final_df = final_df[ final_df[category_name ] != 'Total']
    
    # change datatype
    final_df.reset_index(inplace = True)
    final_df.columns.name = None
    final_df.columns = ['Occupation'] + list(final_df.columns[1:])

    # change datatype
    for col in final_df.columns:
        if col not in ['Marital_Status', 'Gender', 'Group', 'Status','Occupation']:
            final_df[col] = pd.to_numeric(final_df[col], errors='coerce')
    #final_df.info()
      
    print(final_df)
    final_df.info()

if sheet_name == 'K15': 
    table_name = "K15T_UNEMPLOYED_RESIDENTS_BY_PREVIOUS_OCCUPATION_AND_SEX"
if sheet_name == 'K14': 
    table_name = "K14T_RESIDENT_UNEMPLOYMENT_RATE_BY_OCCUPATION"

False
                                          Occupation  2014  2015  2016  2017  \
0  Managers & Administrators (Including Working P...   2.6   2.2   3.0   2.8
1                                      Professionals   2.7   2.6   3.0   2.9
2              Associate Professionals & Technicians   3.1   3.2   3.4   3.3
3                           Clerical Support Workers   4.9   5.2   5.9   5.7
4                            Service & Sales Workers   5.0   5.6   4.9   5.8
5                 Craftsmen & Related Trades Workers   2.6   3.1   3.3   3.0
6             Plant & Machine Operators & Assemblers   3.6   3.0   3.0   3.5
7              Cleaners, Labourers & Related Workers   4.3   3.8   3.9   3.9

   2018  2019  2020  2021  2022  2023  2024     Group      Status
0   2.7   2.4   2.3   3.3   2.4   1.7   2.6  Resident  Unemployed
1   3.1   2.7   3.4   3.5   2.8   2.6   2.3  Resident  Unemployed
2   3.0   3.6   4.5   3.5   2.5   2.7   3.1  Resident  Unemployed
3   5.0   6.3   7.7   6.6   5.9   5.3   5.2  Resident  Unemployed
4   4.5   5.9   7.9   6.2   5.1   3.6   3.6  Resident  Unemployed
5   3.6   3.7   5.2   2.7   2.1   3.0   2.4  Resident  Unemployed
6   3.2   2.7   3.9   3.8   3.3   2.2   2.7  Resident  Unemployed
7   3.9   4.1   6.9   4.3   4.2   3.8   2.7  Resident  Unemployed
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Occupation  8 non-null      object
 1   2014        8 non-null      float64
 2   2015        8 non-null      float64
 3   2016        8 non-null      float64
 4   2017        8 non-null      float64
 5   2018        8 non-null      float64
 6   2019        8 non-null      float64
 7   2020        8 non-null      float64
 8   2021        8 non-null      float64
 9   2022        8 non-null      float64
 10  2023        8 non-null      float64
 11  2024        8 non-null      float64
 12  Group       8 non-null      object
 13  Status      8 non-null      object
dtypes: float64(11), object(3)
memory usage: 1.0+ KB

In [26]:
df_new

,Age,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,Pmet_Status,Group,Status
0,15 - 29,0.7,0.6,0.7,0.8,0.7,0.6,1.1,0.6,0.6,0.2,0.8,PMETs,Residents Aged Fifteen Years And Over Who Have...,Long-term
1,30 - 39,1.4,1.3,2.3,1.6,2.3,1.0,1.5,2.2,1.1,0.7,1.6,PMETs,Residents Aged Fifteen Years And Over Who Have...,Long-term
2,40 - 49,2.5,2.6,3.4,3.1,3.0,1.9,3.2,3.8,1.3,1.7,2.6,PMETs,Residents Aged Fifteen Years And Over Who Have...,Long-term
3,50 & Over,2.4,3.6,4.4,3.3,4.9,3.9,4.6,5.2,4.1,3.7,5.6,PMETs,Residents Aged Fifteen Years And Over Who Have...,Long-term
4,15 - 29,0.9,1.2,1.0,1.2,1.2,1.1,2.0,1.1,0.3,0.5,0.8,Non-PMETs,Residents Aged Fifteen Years And Over Who Have...,Long-term
5,30 - 39,0.7,0.9,0.6,1.0,0.7,1.1,0.8,1.0,0.8,0.7,1.0,Non-PMETs,Residents Aged Fifteen Years And Over Who Have...,Long-term
6,40 - 49,1.2,0.9,1.4,1.1,0.8,1.3,1.7,1.6,1.1,0.5,0.5,Non-PMETs,Residents Aged Fifteen Years And Over Who Have...,Long-term
7,50 & Over,3.3,3.5,4.0,3.9,4.1,4.0,4.1,4.4,3.8,2.8,2.6,Non-PMETs,Residents Aged Fifteen Years And Over Who Have...,Long-term

In [28]:
if sheet_name == 'K15': 

    table_name = table_name.replace(" ","_")
    print(table_name)
    
    #df_new.info()
    
    # Correct the column headings
    df_new.columns = [
        c.strip()
         .replace(" ", "_")
         .replace("&", "and")
         .replace("(", "")
         .replace(")", "")
         .replace(",", "")
         .replace("/", "_")
         .replace("-", "_")
        for c in df_new.columns
    ]
    #df_new.info()

    # Correct to right datatype
    for col in df_new.columns:
        if col not in ['Year', 'Gender', 'Group', 'Status']:
            df_new[col] = pd.to_numeric(df_new[col], errors='coerce')
    df_new.info()

if sheet_name == 'K6': 
    #df_new.info()
    
    # Correct to right datatype
    for col in df_new.columns:
        if col not in ['Marital_Status', 'Gender', 'Group', 'Status']:
            df_new[col] = pd.to_numeric(df_new[col], errors='coerce')
    df_new.info()
    

if sheet_name == 'K17': 

    table_name = table_name.replace(" ","_")
    print(table_name)
    
    #df_new.info()

    # Correct to right datatype
    for col in df_new.columns:
        if col not in ['Age', 'Pmet_Status', 'Group', 'Status']:
            df_new[col] = pd.to_numeric(df_new[col], errors='coerce')
    df_new.info()

if sheet_name == 'K2': 
    #df_new.info()
    
    # Correct to right datatype
    for col in df_new.columns:
        if col not in ['Age', 'Gender', 'Group', 'Status']:
            df_new[col] = pd.to_numeric(df_new[col], errors='coerce')
    df_new.info()


if sheet_name == 'K3': 
    #df_new.info()

    # Correct to right datatype
    for col in df_new.columns:
        if col not in ['Qualification', 'Gender', 'Group', 'Status']:
            df_new[col] = pd.to_numeric(df_new[col], errors='coerce')
    df_new.info()


if sheet_name == 'K16': 
    #df_new.info()

    # Correct to right datatype
    for col in df_new.columns:
        if col not in ['Age', 'Pmet_Status', 'Group', 'Status']:
            df_new[col] = pd.to_numeric(df_new[col], errors='coerce')
    df_new.info()
    
if sheet_name == 'K14': 
    
    #df_new.info()
    
    # Correct the column headings
    df_new.columns = [
        c.strip()
         .replace(" ", "_")
         .replace("&", "and")
         .replace("(", "")
         .replace(")", "")
         .replace(",", "")
         .replace("/", "_")
         .replace("-", "_")
        for c in df_new.columns
    ]
    #df_new.info()

    # Correct to right datatype
    for col in df_new.columns:
        if col not in ['Year', 'Group', 'Status']:
            df_new[col] = pd.to_numeric(df_new[col], errors='coerce')
    df_new.info()

K17_LONG-TERM_UNEMPLOYED_RESIDENT_BY_PMET_STATUS_AND_AGE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          8 non-null      object
 1   2014         8 non-null      float64
 2   2015         8 non-null      float64
 3   2016         8 non-null      float64
 4   2017         8 non-null      float64
 5   2018         8 non-null      float64
 6   2019         8 non-null      float64
 7   2020         8 non-null      float64
 8   2021         8 non-null      float64
 9   2022         8 non-null      float64
 10  2023         8 non-null      float64
 11  2024         8 non-null      float64
 12  Pmet_Status  8 non-null      object
 13  Group        8 non-null      object
 14  Status       8 non-null      object
dtypes: float64(11), object(4)
memory usage: 1.1+ KB

In [29]:
print(table_name)
print(df_new)

K17_LONG-TERM_UNEMPLOYED_RESIDENT_BY_PMET_STATUS_AND_AGE
         Age  2014  2015  2016  2017  2018  2019  2020  2021  2022  2023  \
0    15 - 29   0.7   0.6   0.7   0.8   0.7   0.6   1.1   0.6   0.6   0.2
1    30 - 39   1.4   1.3   2.3   1.6   2.3   1.0   1.5   2.2   1.1   0.7
2    40 - 49   2.5   2.6   3.4   3.1   3.0   1.9   3.2   3.8   1.3   1.7
3  50 & Over   2.4   3.6   4.4   3.3   4.9   3.9   4.6   5.2   4.1   3.7
4    15 - 29   0.9   1.2   1.0   1.2   1.2   1.1   2.0   1.1   0.3   0.5
5    30 - 39   0.7   0.9   0.6   1.0   0.7   1.1   0.8   1.0   0.8   0.7
6    40 - 49   1.2   0.9   1.4   1.1   0.8   1.3   1.7   1.6   1.1   0.5
7  50 & Over   3.3   3.5   4.0   3.9   4.1   4.0   4.1   4.4   3.8   2.8

   2024 Pmet_Status                                              Group  \
0   0.8       PMETs  Residents Aged Fifteen Years And Over Who Have...
1   1.6       PMETs  Residents Aged Fifteen Years And Over Who Have...
2   2.6       PMETs  Residents Aged Fifteen Years And Over Who Have...
3   5.6       PMETs  Residents Aged Fifteen Years And Over Who Have...
4   0.8   Non-PMETs  Residents Aged Fifteen Years And Over Who Have...
5   1.0   Non-PMETs  Residents Aged Fifteen Years And Over Who Have...
6   0.5   Non-PMETs  Residents Aged Fifteen Years And Over Who Have...
7   2.6   Non-PMETs  Residents Aged Fifteen Years And Over Who Have...

      Status
0  Long-term
1  Long-term
2  Long-term
3  Long-term
4  Long-term
5  Long-term
6  Long-term
7  Long-term

In [30]:
import pandas as pd
from sqlalchemy import create_engine
import IPython
### pip install pymysql in jupyter terminal 
### run CREATE DATABASE labor_force_db; in my workbench once
### run the save code
### Open MySQL Workbench > Select labor_force_db from the schema list > Go to File > Open SQL Script, and selcet the .sql file > Click the ⚡️ Run 

# Normalize table name for file name
filename = f"{table_name}.sql"

# Create SQLAlchemy engine (for schema generation)
engine = create_engine("mysql+pymysql://root:1081305264Xx+@localhost/labor_force_db")

with open(filename, "w", encoding="utf-8") as f:
    # Write CREATE TABLE schema
    schema_sql = pd.io.sql.get_schema(df_new, name=table_name, con=engine) #final_df
    f.write(schema_sql + ";\n\n")

    # Write INSERT statements
    for _, row in df_new.iterrows(): #final_df
        values = []
        for val in row:
            if pd.isna(val):
                values.append("NULL")
            elif isinstance(val, str):
                escaped = val.replace("'", "''")
                values.append(f"'{escaped}'")
            else:
                values.append(str(val))
        insert_sql = f"INSERT INTO `{table_name}` VALUES ({', '.join(values)});"
        f.write(insert_sql + "\n")

# Create download link in Jupyter Notebook
IPython.display.FileLink(filename)

C:\Users\user\OneDrive\Desktop\SIT\Capstone\K17_LONG-TERM_UNEMPLOYED_RESIDENT_BY_PMET_STATUS_AND_AGE.sql